Schemas/XSD/Charge/ChargeResponse.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XMLSpy v2007 sp1 (http://www.altova.com) by user (EMBRACE) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:m="http://www.mobiltel.bg/chargeresponse" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.mobiltel.bg/chargeresponse" elementFormDefault="qualified">
	<element name="ChargeResponse">
		<complexType>
			<sequence>
				<element name="returnCode" type="string"/>
				<element name="returnMessage" type="string" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<complexType name="RuntimeError">
		<sequence>
			<element name="ErrorMessage" type="string"/>
			<element name="ErrorCode" type="string"/>
		</sequence>
	</complexType>
	<element name="RuntimeError" type="m:RuntimeError"/>
</schema>
