integrationComponents/Schemas/crossReferencing.xsd

<?xml version = "1.0" encoding = "UTF-8"?>
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema xmlns = "http://www.w3.org/2001/XMLSchema"
	 targetNamespace = "http://www.mobiltel.bg/integration"
	 xmlns:m = "http://www.mobiltel.bg/integration"
	 xmlns:xs = "http://www.w3.org/2001/XMLSchema"
	 elementFormDefault = "qualified"
	 attributeFormDefault = "unqualified">
	<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by lpalashevski (tmns) -->
	
	<element name = "XRefReply">
		<complexType>
			<sequence>
				<element ref = "m:values" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name = "DataTypeName" type = "string"/>
	<element name = "canonicalValue" type = "string"/>
	<element name = "applicationValue" type = "string"/>
	<element name = "item">
		<complexType>
			<sequence>
				<element ref = "m:DataTypeName"/>
				<element name = "array" minOccurs = "0" maxOccurs = "unbounded">
					<complexType>
						<sequence>
							<element ref = "m:canonicalValue"/>
							<element ref = "m:applicationValue" maxOccurs = "unbounded"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name = "XRefUpdate">
		<complexType>
			<sequence>
				<element ref = "m:SystemName"/>
				<element ref = "m:UpdateDate"/>
			</sequence>
		</complexType>
	</element>
	<element name = "UpdateFlag" type = "string"/>
	<element name = "UpdateDate" type = "dateTime"/>
	<element name = "SystemId" type = "string"/>
	<element name = "values">
		<complexType>
			<sequence>
				<element ref = "m:item" minOccurs = "0" maxOccurs = "unbounded"/>
			</sequence>
			<attribute name = "systemName" type = "string"/>
		</complexType>
	</element>
	<element name = "SystemName" type = "string"/>
</schema>