integrationComponents/Schemas/exceptionMessage.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by lpalashevski (tmns) -->
<!--Generated by Turbo XML. Conforms to w3c http://www.w3.org/2001/XMLSchema-->
<schema targetNamespace="http://www.mobiltel.bg/integration" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:m="http://www.mobiltel.bg/integration" xmlns="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" attributeFormDefault="unqualified">
	<!-- edited with XML Spy v4.3 U (http://www.xmlspy.com) by lpalashevski (tmns) -->
	<element name="exception">
		<annotation>
			<documentation> Error message structure</documentation>
		</annotation>
		<complexType>
			<sequence>
				<element ref="m:exceptionHandler"/>
				<element ref="m:processContext"/>
				<element ref="m:errorReport"/>
				<element ref="m:resubmitSchema" minOccurs="0"/>
				<element ref="m:customFields" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="exceptionHandler">
		<complexType>
			<sequence>
				<element ref="m:exceptionId" minOccurs="0"/>
				<element ref="m:dateTime"/>
				<element ref="m:reportingModuleName" minOccurs="0"/>
				<element ref="m:enviroment" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="processContext">
		<complexType>
			<sequence>
				<element ref="m:processId" minOccurs="0"/>
				<element ref="m:projectName" minOccurs="0"/>
				<element ref="m:engineName" minOccurs="0"/>
				<element ref="m:restartedFromCheckpoint" minOccurs="0"/>
				<element ref="m:trackingInfo" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
	</element>
	<element name="errorReport">
		<complexType>
			<sequence>
				<element ref="m:stackTrace" minOccurs="0"/>
				<element ref="m:msg"/>
				<element ref="m:fullClass" minOccurs="0"/>
				<element ref="m:class" minOccurs="0"/>
				<element ref="m:processStack" minOccurs="0"/>
				<element ref="m:msgCode" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="customFields">
		<complexType>
			<sequence>
				<element name="item" minOccurs="0" maxOccurs="unbounded">
					<complexType>
						<sequence>
							<element name="name" type="string" minOccurs="0"/>
							<element name="value" type="string" minOccurs="0"/>
						</sequence>
					</complexType>
				</element>
			</sequence>
		</complexType>
	</element>
	<element name="exceptionId" type="string"/>
	<element name="dateTime" type="dateTime"/>
	<element name="reportingModuleName" type="string"/>
	<element name="processId" type="string"/>
	<element name="projectName" type="string"/>
	<element name="engineName" type="string"/>
	<element name="restartedFromCheckpoint" type="string"/>
	<element name="trackingInfo" type="string"/>
	<element name="stackTrace" type="string"/>
	<element name="msg">
		<simpleType>
			<restriction base="string">
				<minLength value="1"/>
			</restriction>
		</simpleType>
	</element>
	<element name="fullClass" type="string"/>
	<element name="class" type="string"/>
	<element name="processStack" type="string"/>
	<element name="msgCode" type="string"/>
	<element name="resubmitSchema">
		<complexType>
			<sequence>
				<element ref="m:isResubmittable" minOccurs="0"/>
				<element ref="m:destinationType" minOccurs="0"/>
				<element ref="m:destinationName" minOccurs="0"/>
				<element ref="m:data" minOccurs="0"/>
			</sequence>
		</complexType>
	</element>
	<element name="isResubmittable" type="string"/>
	<element name="destinationType">
		<simpleType>
			<restriction base="string">
				<enumeration value="queue"/>
				<enumeration value="topic"/>
			</restriction>
		</simpleType>
	</element>
	<element name="destinationName" type="string"/>
	<element name="data" type="string"/>
	<element name="enviroment" type="string"/>
</schema>
